<div style="max-width: 1024px; margin: 0 auto;padding: 20px;">
  <p-toast key="ans" position="bottom-right"></p-toast>
  <p-card>
    <div class="ui-g" *ngIf="msgs.length > 0">
      <div class="ui-g-12">
        <p-messages [(value)]="msgs"></p-messages>
      </div>
    </div>

    <h3 class="first" *ngIf="question">{{question.chapter + '/' + question.number + ' - ' + question.asking}}</h3>
    <div class="ui-g" *ngFor="let option of question.answerOption">
      <div class="ui-g-12">
        <p-checkbox *ngIf="question.rightAnswer.options.length > 1" name="{{option.option}}" value="{{option.option}}"
                    label="{{option.option+') '+ option.description}}" [(ngModel)]="selectOptionsMulti"
                    inputId="option.option"></p-checkbox>
        <p-radioButton *ngIf="question.rightAnswer.options.length == 1" name="option" value="{{option.option}}"
                       label="{{option.option+') '+option.description}}" [(ngModel)]="selectOptionsSingle"
                       inputId="opt1"></p-radioButton>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-12 ">
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-6 " style="text-align: left">
        <button pButton type="button"
                [disabled]="question.rightAnswer.options.length > 1 ? (selectOptionsMulti == null || selectOptionsMulti.length != question.rightAnswer.options.length) : selectOptionsSingle == null "
                label="Confirmar" (click)="confirm()" class="ui-button-rounded"></button>
      </div>
      <div class="ui-g-6 " style="text-align: right">
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-g-6" style="text-align: left">
        <button pButton type="button"
                label="Anterior" (click)="previous()" class="ui-button-rounded ui-button-secondary"></button>
      </div>
      <div class="ui-g-6" style="text-align: right">
        <button pButton type="button"
                label="Próximo" (click)="next()" class="ui-button-rounded ui-button-secondary"></button>
      </div>
    </div>


  </p-card>
  <br>
  <p-card>
    <div class="ui-g">
      <div class="ui-g-3 ui-sm-4">
        <button pButton type="button"
                label="Resultado" (click)="showStatistics()" class="ui-button-rounded ui-button-success"></button>
      </div>
      <div class="ui-g-3 ui-sm-8">
        <input type="number" maxlength="9999" style="width: 70px;margin-left: 20px;" pInputText
               [(ngModel)]="gotoIndex"/>
        <button pButton type="button" style="margin-left: 20px"
                label="Ir" (click)="goTo()" class="ui-button-rounded ui-button-secondary"></button>
      </div>
      <div class="ui-g-3 ui-sm-6">
        <button pButton type="button"
                label="Sortear" (click)="random()" class="ui-button-rounded ui-button-info"></button>
      </div>
      <div class="ui-g-3 ui-sm-6" >
        <button pButton type="button"
                label="Tentar novamente" (click)="randomWrong()" class="ui-button-rounded ui-button-danger"></button>
      </div>
    </div>


  </p-card>

  <p-confirmDialog header="Confirmação" icon="pi pi-exclamation-triangle"></p-confirmDialog>
</div>
<p-sidebar [(visible)]="showSidebar" [fullScreen]="true" [baseZIndex]="10000">
  <div class="ui-g-12">
    <h1>Resultado</h1>
  </div>
  <p-table *ngIf="statistics" [value]="statistics">
    <ng-template pTemplate="header">
      <tr>
        <th>Capítulo</th>
        <th>Respondidas</th>
        <th>Certas</th>
        <th>Erradas</th>
        <th>Percentual</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-stat>
      <tr style="text-align: right;">
        <td>{{stat.key}}</td>
        <td>{{stat.answers}}</td>
        <td>{{stat.correct}}</td>
        <td>{{stat.wrong}}</td>
        <td>{{stat.percent  | number:'2.2-2'}}</td>
      </tr>
    </ng-template>
  </p-table>
  <br>
  <button pButton type="button" style="margin-left: 20px"
          label="Fechar" (click)="showSidebar = false" class="ui-button-rounded ui-button-secondary"></button>
</p-sidebar>
